body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #003300, #030703);
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.container {
  padding: 20px;
  text-align: center;
}

.logo img {
  width: 100px;
  float: left;
}

/* #center {
  width: max-content;
  max-width: 100%;
  margin: 50%;
  text-align: center;s
} */

#center {
  position: relative;
}

.name-strap {
  background: #ffffff;
  color: #000000;
  padding: 10px;
  font-size: 24px;
  text-transform: uppercase;
  width: 0%, fixed;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  position: absolute;
  left: 25%;
  visibility: hidden; /* Initially hidden */
  transition: background-color 0.3s linear, color 0.3s ease;
}

.btn {
  margin: 70px;
}

.head-space {
  margin: 50px 50px 100px 150px;
}

.btn button {
  margin: 40px;
  padding: 10px 50px;
  font-size: 21px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: #4f4f4f;
  color: #ffffff;
}

/* .btn button:hover {
  background: #444;
  color: white;
} */

code {
  color: orange;
}

.btn-play:active {
  background-color: rgb(2, 151, 17);
  color: white;
}

.btn-change:active {
  background-color: yellow;
  color: white;
}

.btn-stop:active {
  background-color: #982208;
  color: white;
}
/*
.btn-play:active .name-strap {
  background-color: #982208;
}

.btn-change:active .name-strap {
  background-color: #982208;
}

.btn-stop:active .name-strap {
  background-color: #982208;
}
*/
